/helpers/CurrentWindowPos*.pkl

/data/terr50_gagg_gb.zip
/data/dmr3-5_50.zip
/data/FictionalData.xcf
/data/FictionalData_Interpolated.txt
/data/Dataset*/*.npy

/conda*/
/Unity\ App/
/EMS/

svg-inkscape/

__pycache__/
